<div class="topnav">
    <div class="brand">Angular Project</div>
    <div class="toplinks">
        <a  routerLinkActive="active" routerLink="/home" >Home</a>
        <a routerLinkActive="active" routerLink="/login" >Login</a>
        <a  routerLinkActive="active" routerLink="/product">Product</a>
        <a  routerLinkActive="active" routerLink="/about">About us</a>
        <a routerLinkActive="active" routerLink="/buy-products">Buy Products</a>
        <a routerLinkActive="active" routerLink="/contact">Contact Us</a>

    </div>
    <div class="clear"></div> 
</div>
<router-outlet></router-outlet>
