<div class="page">   
<div class="header">

<img src="/assets/image/angular-card.png"  width="1000" height="500"/>
    
 </div>
 
    <h2>Home</h2>
    <div #box>
        <h1>User Name is <span class="text-success">{{userName}}</span></h1>
    </div>
    <div class="row">
        <div class="col-md-6">
           <button (click)="changeChildProperty()">Change Child Property</button>&nbsp;
           <button (click)="callChildMethod()">Call Child Method</button>
        </div>
        <div class="col-md-6">
            <app-comp2></app-comp2>
        </div>
        <br><br>
</div>
