<div class="page">
    <div class="text">
        <h2>Products</h2>
<p>Before proceeding with this tutorial, you should have a basic understanding of HTML, CSS,
    JavaScript, Typescript, and Document Object Model (DOM).</p>
    </div>
<br>
    <hr class="mb-2">
    <div class="row">
        <div class="col-md-16s">
            <div class="card" style="width: 16rem;"><br>
                <img src="../../assets/image/laptop.jpg"class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Laptop</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a routerLink="laptop" class="btn success">Know More</a>
                </div>
              </div>
              <div class="card" style="width: 16rem;"><br>
                <img src="../../assets/image/lcd.jpg"class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">LCD</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a routerLink="tv" class="btn success">Know More</a>
                </div>
              </div>
              <div class="card" style="width: 16rem;"><br>
                <img src="../../assets/image/iphone.jpg"class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Mobile</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a routerLink="mobile" class="btn success">Know More</a>
                </div>
              </div>
              
        </div>
    </div>
</div>