<div class="page">
    
    <div class="row justify-content-center">
      <h1>User Login</h1>
      <div class="col-md-6 text-left  bg-white rounded shadow py-3">
        
        <div>
          <form [formGroup] = "formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
           <input type = "text" class = "fortextbox" name = "emailid" placeholder =
          "emailid"
           formControlName = "emailid">
           <br/>
           <input type = "password" class = "fortextbox" name = "passwd"
           placeholder = "passwd" formControlName = "passwd">
           <br/>
           <input type = "submit" [disabled] = "!formdata.valid" class = "forsubmit"
           value = "Log In">
          </form>
          </div>
          <p>
          Email entered is : {{emailid}}
          </p>
          
      </div>
    </div>
  </div> 
